{%extends 'base.html'%}
{%block title%}{{board.name}}{%endblock%}
{%block breadcrumb%}
        <li class="breadcrumb-item "><a href="{% url 'index'%}">Board</a></li>
         <li class="breadcrumb-item active ">{{board.name}}</li>
{%endblock%}
{%block content%}
<a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New Topic</a>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>Topic</th>
        <th>Created by</th>
        <th>Posts</th>
        <th>views</th>
        <th>Created date</th>
    </tr>
    </thead>
    <tbody>
    {%for topics in board.topic.all %}
    <tr>
        <td>{{topics.name}}</td>
        <td>{{topics.creata_by.username}}</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    {%endfor%}
    </tbody>
</table>
{%endblock%}
</div>
</body>
</html>